<div class="kanban-container">
  <div class="kanban-column">
    <h2>To Do</h2>
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todoTasks"
      [cdkDropListConnectedTo]="[inProgressList, finishedList, dueList]"
      class="task-list"
      id="todo-list"
      (cdkDropListDropped)="drop($event)">
      <mat-card class="task-card" *ngFor="let task of todoTasks" cdkDrag>
        <i class="material-icons x" (click)="openDeleteTaskDialog(task)">close</i>
        <mat-card-header>
          <div mat-card-avatar class="task-header-image-empty"></div>
          <mat-card-title>{{task.taskTitle | uppercase}}</mat-card-title>
          <mat-card-subtitle>PRIORITY: {{task.taskPriority}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{task.taskDesc}}</p>
        </mat-card-content>
        <mat-card-actions>
          <div class="actions-container">
            <button mat-button style="background: grey" (click)="openEditTaskDialog(task)">EDIT</button>
            <button mat-button style="background: dodgerblue">{{task.taskDate | date : 'yyyy-MM-dd'}}</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div class="kanban-column">
    <h2>In Progress</h2>
    <div
      cdkDropList
      #inProgressList="cdkDropList"
      [cdkDropListData]="inProgressTasks"
      [cdkDropListConnectedTo]="[todoList, finishedList, dueList]"
      class="task-list"
      id="inProgress-list"
      (cdkDropListDropped)="drop($event)">
      <mat-card class="task-card" *ngFor="let task of inProgressTasks" cdkDrag>
        <i class="material-icons x" (click)="openDeleteTaskDialog(task)">close</i>
        <mat-card-header>
          <div mat-card-avatar class="task-header-image-progress"></div>
          <mat-card-title>{{task.taskTitle | uppercase}}</mat-card-title>
          <mat-card-subtitle>PRIORITY: {{task.taskPriority}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{task.taskDesc}}</p>
        </mat-card-content>
        <mat-card-actions>
          <div class="actions-container">
            <button mat-button style="background: grey" (click)="openEditTaskDialog(task)">EDIT</button>
            <button mat-button style="background: dodgerblue">{{task.taskDate | date : 'yyyy-MM-dd'}}</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div class="kanban-column">
    <h2>Done</h2>
    <div
      cdkDropList
      #finishedList="cdkDropList"
      [cdkDropListData]="finishedTasks"
      [cdkDropListConnectedTo]="[todoList, inProgressList, dueList]"
      class="task-list"
      id="finished-list"
      (cdkDropListDropped)="drop($event)">
      <mat-card class="task-card" *ngFor="let task of finishedTasks" cdkDrag>
        <i class="material-icons x" (click)="openDeleteTaskDialog(task)">close</i>
        <mat-card-header>
          <div mat-card-avatar class="task-header-image"></div>
          <mat-card-title>{{task.taskTitle | uppercase}}</mat-card-title>
          <mat-card-subtitle>PRIORITY: {{task.taskPriority}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{task.taskDesc}}</p>
        </mat-card-content>
        <mat-card-actions>
          <div class="actions-container">
            <button mat-button style="background: grey" (click)="openEditTaskDialog(task)">EDIT</button>
            <button mat-button style="background: dodgerblue">{{task.taskDate | date : 'yyyy-MM-dd'}}</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div class="kanban-column">
    <h2>Due</h2>
    <div
    cdkDropList
    #dueList="cdkDropList"
    [cdkDropListData]="dueTasks"
    [cdkDropListConnectedTo]="[todoList, inProgressList, finishedList]"
    class="task-list"
    id="due-list"
    (cdkDropListDropped)="drop($event)">
      <mat-card class="task-card" *ngFor="let task of dueTasks" cdkDrag>
        <i class="material-icons x" (click)="openDeleteTaskDialog(task)">close</i>
        <mat-card-header>
          <div mat-card-avatar class="task-header-image-warn"></div>
          <mat-card-title>{{task.taskTitle | uppercase}}</mat-card-title>
          <mat-card-subtitle>PRIORITY: {{task.taskPriority}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{task.taskDesc}}</p>
        </mat-card-content>
        <mat-card-actions>
          <div class="actions-container">
            <button mat-button style="background: grey" (click)="openEditTaskDialog(task)">EDIT</button>
            <button mat-button style="background: dodgerblue">{{task.taskDate | date : 'yyyy-MM-dd'}}</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<div *ngIf="!tasks && requestCompleteOrFailed">
  <mat-card class="no-task-card" [ngClass]="{'auth-error': errorType === 'auth'}">
    <mat-card-content>
      <mat-icon *ngIf="errorType === 'auth'">lock</mat-icon>
      <mat-icon *ngIf="errorType === 'loading'">error</mat-icon>
      <p class="noTasksText">{{ errorMessage }}</p>
      <button mat-button *ngIf="errorType === 'auth'"
              [routerLink]="['/login']"
              color="primary">
        Log In
      </button>
      <button mat-button *ngIf="errorType === 'loading'"
              (click)="getFilteredTasks()"
              color="primary">
        Try Again
      </button>
    </mat-card-content>
  </mat-card>
</div>

