<p>
  <mat-toolbar style="height: 75px; background: rgba(49, 45, 45, 0.78);">
    <span *ngIf="loginService.isUserLoggedIn()" style="margin-left: 1em">Your Tasks</span>
    <span *ngIf="!loginService.isUserLoggedIn()" style="margin-left: 1em">Taskee</span>
    <span class="task-spacer1"></span>
    <mat-form-field *ngIf="loginService.isUserLoggedIn()" appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select [value]="TaskStatus.ALL" (selectionChange)="onFilterChange($event)">
        <mat-option [value]="TaskStatus.ALL">All</mat-option>
        <mat-option [value]="TaskStatus.TODO">To-do</mat-option>
        <mat-option [value]="TaskStatus.IN_PROGRESS">In Progress</mat-option>
        <mat-option [value]="TaskStatus.FINISHED">Finished</mat-option>
        <mat-option [value]="TaskStatus.DUE">Due</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button class="task-icon" style="background: #15ae4b" *ngIf="loginService.isUserLoggedIn()"
            (click)="openAddTask()">Add Task</button>
    <span class="task-spacer2"></span>
    <span class="task-spacer3"></span>
    <button mat-button class="nav-buttons" *ngIf="!loginService.isUserLoggedIn()" style="background: #656964"
            [routerLink]="['/login']">Login</button>
    <button mat-button class="nav-buttons" *ngIf="loginService.isUserLoggedIn()" style="background: #656964"
            [routerLink]="['/logout']">Logout</button>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
