
.nav-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  font-size: 12px;
  font-weight: bold;
  color: black;
  margin-right: 10px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.header {
  padding: 15px;
}

.name {
  font-weight: bold;
  text-transform: capitalize;
}

.icon {
  color: black !important;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 30px;
}

.info {
  display: inline-flex;
  flex-direction: column;
}
