.task-spacer1 {
  flex: 0.2 auto;
}

.task-spacer2 {
  flex: 3 1 auto;
}

.task-spacer3 {
  flex: 1 1 auto;
}

.nav-buttons{
  margin-right: 2em;
  min-width: 80px;
}

mat-form-field {
  margin: 0 20px;
  width: 200px;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-select-value,
::ng-deep .mat-select-arrow,
::ng-deep .mat-form-field-label {
  color: white !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}
