.container {
  padding: 1.5rem;
  max-width: 500px;
  margin: 0 auto;
  background: #1e1e1e;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: rgba(255, 255, 255, 0.911);
}

.message {
  color: rgba(255, 255, 255, 0.911);
  text-align: center;
}

button {
  margin: 15px;
}

.actions-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}
