
.nav-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  font-size: 12px;
  font-weight: bold;
  color: black;
  margin-right: 10px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.header {
  display: flex;
}


.owner-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
  color: black;
  margin-right: 10px;
}
