.tasks-container {
  padding: 24px;
  max-width: 90vw;
  margin: 0 auto;
  color: #e0e0e0;
}


.tasks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.tasks-header h1 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  color: #e0e0e0;
}

.status-container {
  width: 100%;
  display: flex;
  gap: 20px;
}

h1 {
  margin: 0 0 10px 0;
  padding: 10px;
  text-align: center;
  color: #e0e0e0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: xx-large;
}

.task-list {
  background: #4a4545;
  border-radius: 4px;
  padding: 15px;
  height: fit-content;
}

.task-card {
  margin: 0 0 10px 0;
  width: 350px;
  min-width: unset;
  padding: 1.5em;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.52);
  border-radius: 5px;
  background: rgba(49, 45, 45, 0.87);
  cursor: move;
}

.task-header-image {
  background-image: url('assets/task-done-flat.png');
  background-size: cover;
}

.task-header-image-empty {
  background-image: url('assets/task-empty-flat.png');
  background-size: cover;
}

.task-header-image-progress {
  background-image: url('assets/task-progress-flat.png');
  background-size: cover;
}

.task-header-image-warn {
  background-image: url('assets/task-warn-flat.png');
  background-size: cover;
}

.actions-container{
  display: flex;
  justify-content: space-between;
}

.x {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.task-list.cdk-drop-list-dragging .task-card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
